* {
  margin: 0;
  padding: 0;
}
.box {
  border: 1px solid black;
  width: 57%;
  height: 400px;
  position: absolute;
  left: 21%;
  top: 90px;
}
.image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 1%;
}
.name_position {
  position: absolute;
  text-align: center;
  top: 42%;
  margin-top: 5px;
  width: 100%;
}
.position {
  margin-top: 5px;
}
.review {
  position: absolute;
  height: 70px;
  top: 53%;
  width: 100%;
  margin-top: 8px;
}
.buttons {
  position: absolute;
  left: 44.5%;
  top: 73%;
}
.random {
  position: absolute;
  left: 45.4%;
  top: 79.9%;
}
button {
  cursor: pointer;
}
.leftsideBtn,
.rightsideBtn {
  width: 40px;
}
